<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="Main">

        <v:variable.set name="sClassOuter" value="{v:variable.typoscript(path: 'plugin.tx_hive_cpt_cnt_bs_carousel.settings.production.bootstrapCarouselSimple.sClassOuter')}" />
        <v:variable.set name="sClassInner" value="{v:variable.typoscript(path: 'plugin.tx_hive_cpt_cnt_bs_carousel.settings.production.bootstrapCarouselSimple.sClassInner')}" />
        <v:variable.set name="sContainerElement" value="{v:variable.typoscript(path: 'plugin.tx_hive_cpt_cnt_bs_carousel.settings.production.bootstrapCarouselSimple.sContainerElement')}" />
        <v:variable.set name="iInterval" value="{v:variable.typoscript(path: 'plugin.tx_hive_cpt_cnt_bs_carousel.settings.production.bootstrapCarouselSimple.iInterval')}" />

        <f:if condition="{sContainerElement} == 'div'">
            <f:then>
                <f:render section="HtmlDiv"
                          arguments="{slides: '{slides}', recordUid: '{recordUid}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}', iInterval: '{iInterval}'}" />
            </f:then>
        </f:if>

        <f:if condition="{sContainerElement} == 'section'">
            <f:then>
                <f:render section="HtmlSection"
                          arguments="{slides: '{slides}', recordUid: '{recordUid}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}', iInterval: '{iInterval}'}" />
            </f:then>
        </f:if>

        <f:if condition="{sContainerElement} == 'article'">
            <f:then>
                <f:render section="HtmlArticle"
                          arguments="{slides: '{slides}', recordUid: '{recordUid}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}', iInterval: '{iInterval}'}" />
            </f:then>
        </f:if>

    </f:section>

    <f:section name="HtmlSection">
        <section id="carousel-id-{recordUid}" class="carousel {sClassOuter}" data-ride="carousel" data-interval="{iInterval}">
            <f:render section="ForEachSlide"
                      arguments="{slides: '{slides}', recordUid: '{recordUid}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </section>
    </f:section>

    <f:section name="HtmlArticle">
        <article id="carousel-id-{recordUid}" class="carousel {sClassOuter}" data-ride="carousel" data-interval="{iInterval}">
            <f:render section="ForEachSlide"
                      arguments="{slides: '{slides}', recordUid: '{recordUid}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </article>
    </f:section>

    <f:section name="HtmlDiv">
        <div id="carousel-id-{recordUid}" class="carousel {sClassOuter}" data-ride="carousel" data-interval="{iInterval}">
            <f:render section="ForEachSlide"
                      arguments="{slides: '{slides}', recordUid: '{recordUid}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </div>
    </f:section>

    <f:section name="ForEachSlide">

        <f:render section="indicators"
                  arguments="{slides: '{slides}', recordUid: '{recordUid}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />

        <div class="{sClassInner}" role="listbox">
            <v:variable.set name="max" value="99" />

            <f:comment>
                <!-- lib.t2config.bMobile not exists: breaking Error in Typo3 9.5 -->
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.t2config_bMobile')} == '1'">
                    <f:then>
                        <v:variable.set name="max" value="5" />
                    </f:then>
                </f:if>
            </f:comment>

            <f:for each="{slides}" as="sectionObject" iteration="iteration" key="index">

                <f:if condition="{iteration.isFirst}">
                    <f:then>
                        <v:variable.set name="activeslide" value="active"/>
                    </f:then>
                    <f:else>
                        <v:variable.set name="activeslide" value=""/>
                    </f:else>

                </f:if>

                        <f:if condition="{iteration.cycle} <= {max}">
                            <f:then>
                                <div class="item carousel-item {activeslide}">
                                    <!-- FAL :: {sectionObject.slide.tImage} -->
                                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{sectionObject.slide.renderPage}', colPos: '1'}" />
                                    <f:if condition="{sectionObject.slide.caption}">
                                        <div class="carousel-caption">
                                            <f:format.raw>
                                                {sectionObject.slide.caption}
                                            </f:format.raw>
                                        </div>
                                    </f:if>
                                </div>
                            </f:then>
                        </f:if>


            </f:for>
        </div>

        <f:render section="controls"
                  arguments="{slides: '{slides}', recordUid: '{recordUid}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
    </f:section>

    <f:section name="indicators">
        <!-- Indicators -->
        <v:variable.set name="i" value="0" />
        <v:variable.set name="max" value="99" />
        <f:comment>
            <!-- lib.t2config.bMobile not exists: breaking Error in Typo3 9.5 -->
            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.t2config_bMobile')} == '1'">
                <f:then>
                    <v:variable.set name="max" value="5" />
                </f:then>
            </f:if>
        </f:comment>
        <ol class="carousel-indicators">
            <f:for each="{slides}" as="sectionObject" iteration="iteration" key="index">

                <f:if condition="{iteration.isFirst}">
                    <f:then>
                        <v:variable.set name="activeslide" value="active"/>
                    </f:then>
                    <f:else>
                        <v:variable.set name="activeslide" value=""/>
                    </f:else>
                </f:if>

                <f:if condition="{sectionObject.slide.tDisable}">
                    <f:else>
                        <f:if condition="{iteration.cycle} <= {max}">
                            <f:then>
                                <li data-target="#carousel-id-{recordUid}" data-slide-to="{v:variable.convert(value: i, type: 'string')}" class="{f:if(condition: iteration.isFirst, then: '', else: 'disabled')} {activeslide}"></li>
                                <v:variable.set name="i" value="{v:math.sum(a: '{i}', b: '1')}" />
                            </f:then>
                        </f:if>
                    </f:else>
                </f:if>

            </f:for>
        </ol>
    </f:section>

    <f:section name="controls">
        <!-- Controls -->
        <a class="left carousel-control carousel-control-prev" href="#carousel-id-{recordUid}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control carousel-control-next" href="#carousel-id-{recordUid}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </f:section>
</div>
